<cam>
	<!-- General configuration -->
	<generateMsgs>true</generateMsgs>
	<expirationTime>1</expirationTime> <!-- in seconds ! -->
	<maxGpsAge>10</maxGpsAge> <!-- in seconds ! -->
	<maxObd2Age>10</maxObd2Age> <!-- in seconds ! -->
	<thresholdRadiusForHeading>0.30</thresholdRadiusForHeading> <!-- in metres ! -->
	
	<!-- Basic Container in CAM -->
	<typeofStation>2</typeofStation>  <!--select the station type from the enum list given below -->
	
</cam>





<!-- //Look up table

	StationType_unknown	= 0,
	StationType_pedestrian	= 1,
	StationType_cyclist	= 2,
	StationType_roadSideUnit= 15    -->

